---
---

.navbar-collapse-main {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.navbar-collapse-main .navbar-nav {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}
